# Excluir node_modules ya que se instalarán dentro del contenedor
node_modules/

# Excluir carpetas de construcción locales
dist/
build/

# Archivos de configuración del editor
.vscode/
.idea/

# Archivos de entorno
.env
.env.*

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de logs
*.log
logs/

# Archivos de herramientas
.eslintcache
.prettiercache

# Archivos de Vue (si aplica)
.nuxt/
.cache/

# Ignorar Dockerfile y .dockerignore para evitar conflictos
Dockerfile
.dockerignore